<!DOCTYPE html>
<html>
<head>
<meta
	http-equiv="Content-Type"
	content="text/html; charset=UTF-8" />
<title>Home page</title>
<script
	type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
</script>
<link rel="stylesheet" href="css/style.css">
<script
	type="text/javascript"
	src="js/main.js"></script>
<link
	rel="stylesheet"
	type="text/css"
	href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				Temptete
			</div>
		</div>
	</nav>
	<aside id="aside-left">Menu</aside>
	<aside id="aside-right">Right</aside>

	<div class="starter-template">
		<h1>Spring Boot AJAX Example</h1>
		<p id="demo">hello</p>
		<form id="form-search">
			<label id="lblId">Username</label> <input
				type="text"
				id="username" />
			<button
				type="submit"
				id="btn-search">Search</button>
		</form>
		<div>
		<div id="feedback"></div>
			<table>
				<thead>
				</thead>
				<tr>
					<td><label id="lblName">Name</label></td>
					<td><label id="name"></label></td>
				</tr>
				<tr>
					<td><label id="lblmail">Mail</label></td>
					<td><label id="mail"></label></td>
				</tr>
				<tr>
					<td><label id="lblprofession">Profession</label></td>
					<td><label id="profession"></label></td>
				</tr>
				<tr>
					<td><label id="lblCountry">Country</label></td>
					<td><label id="country"></label></td>
				</tr>
				<tr>
					<td><label id="lblcity">City</label></td>
					<td><label id="city"></label></td>
				</tr>
				<tr>
					<td><label id="lblphone">Phone</label></td>
					<td><label id="phone"></label></td>
				</tr>
			</table>
		</div>
		
	</div>
</body>
</html>